.about {
  &-wrapper {
    display: flex;
    align-items: center;

    position: relative;
  }

  &-info,
  &-img {
    width: 50%;
  }

  &-info {
    &__button {
      border: 2px solid $main-light-color;

      background-color: $main-light-color;
      color: $main-color;

      &:hover {
        border: 2px solid $main-color;

        background-color: $main-color;
        color: #fff;
      }
    }
  }

  &__figure {
    position: absolute;
    bottom: -140px;
    right: -41px;
  }
}
