.about {
  &-wrapper {
    display: flex;
    align-items: center;

    position: relative;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &-info,
  &-img {
    @extend .w-50;
  }

  &-info {
    &__description {
      max-width: 610px;
    }

    &__button {
      border: 2px solid $main-light-color;

      background-color: $main-light-color;
      color: $main-color;

      &:hover {
        border: 2px solid $main-color;

        background-color: $main-color;
        color: #fff;
      }
    }
  }

  &__figure {
    @include img-absolute("bottom", "right", -120px, -240px);

    @extend .hide;
  }
}
