.actions {
  &-header {
    text-align: center;

    &__description {
      max-width: 720px;

      margin: 0 auto 80px auto;

      @media (max-width: 576px) {
        margin: 0 auto 20px auto;
      }

      @media (min-width: 576px) and (max-width: 768px) {
        margin: 0 auto 40px auto;
      }
    }
  }

  &-content {
    position: relative;

    &__virus-icon {
      position: absolute;
      top: 440px;
      left: -100px;
      z-index: -5;

      @media (max-width: 768px) {
        display: none;
      }
    }

    &__virus-group {
      position: absolute;
      bottom: 120px;
      right: -240px;
      z-index: -5;

      @media (max-width: 768px) {
        display: none;
      }

      @media (min-width: 768px) and (max-width: 1200px) {
        bottom: 0;
        right: 0;
      }
    }

    .content-block {
      display: flex;
      align-items: center;

      &:nth-child(2n) {
        flex-direction: row-reverse;

        @media (max-width: 768px) {
          flex-direction: row;
        }
      }

      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      .block-info,
      .block-img {
        width: 50%;

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      .block-info {
        display: flex;
        align-items: flex-start;

        &__number {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;

          width: 75px;
          height: 75px;

          font-size: 44px;
          font-weight: bold;

          margin-right: 40px;

          border-radius: 50%;

          background-color: $main-light-color;
          color: $main-color;

          @media (max-width: 576px) {
            width: 45px;
            height: 45px;

            margin-right: 20px;
          }

          @media (max-width: 768px) {
            font-size: 28px;
          }
        }

        &__description {
          max-width: 530px;

          @media (max-width: 768px) {
            max-width: auto;
          }
        }
      }

      .block-img {
        text-align: center;

        @media (max-width: 576px) {
          margin-bottom: 20px;
        }

        @media (min-width: 576px) and (max-width: 768px) {
          margin-bottom: 40px;
        }
      }
    }
  }
}
