.actions {
  &-header {
    text-align: center;

    &__description {
      max-width: 720px;

      @include prop-media(
        "margin",
        576px,
        768px,
        0 auto 20px auto,
        0 auto 40px auto,
        0 auto 80px auto
      );
    }
  }

  &-content {
    position: relative;

    &__virus-icon {
      @include img-absolute("top", "left", 440px, -100px);

      @media (max-width: 768px) {
        display: none;
      }
    }

    &__virus-group {
      @include img-absolute("bottom", "right", 120px, -240px);

      @extend .hide;

      @media (min-width: 768px) and (max-width: 1200px) {
        bottom: 0;
      }
    }

    .content-block {
      display: flex;
      align-items: center;

      @include prop-media("margin-bottom", 576px, 768px, 20px, 40px, 0);

      &:nth-child(2n) {
        flex-direction: row-reverse;

        @media (max-width: 768px) {
          flex-direction: row;
        }
      }

      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      .block-info,
      .block-img {
        @extend .w-50;
      }

      .block-info {
        display: flex;
        align-items: flex-start;

        &__number {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;

          font-weight: bold;

          @include prop-media-single("margin-right", 576px, 20px, 40px);
          @include prop-media-single("width", 768px, 45px, 75px);
          @include prop-media-single("height", 768px, 45px, 75px);
          @include prop-media-single("font-size", 768px, 28px, 42px);

          border-radius: 50%;

          @include background-set($main-light-color, $main-color);
        }

        &__description {
          max-width: 530px;
        }
      }

      .block-img {
        text-align: center;

        @include prop-media(
          "margin",
          576px,
          768px,
          0,
          0 auto 20px auto,
          0 auto 40px auto
        );
      }
    }
  }
}
