.contagion {
  &-header {
    text-align: center;

    &__description {
      max-width: 570px;

      @include prop-media(
        "margin",
        576px,
        768px,
        0 auto 20px auto,
        0 auto 40px auto,
        0 auto 80px auto
      );
    }
  }

  &-content {
    position: relative;

    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
      flex-wrap: wrap;
    }

    &__figure {
      @include img-absolute("bottom", "left", 0, -140px);
    }

    .content-block {
      @include prop-media-single("width", 992px, 100%, 32%);
      @include prop-media-single("padding", 992px, 20px, 40px);

      text-align: center;

      border-bottom: 6px solid transparent;
      border-radius: 10px;

      box-shadow: 0px 34px 86px rgba(0, 0, 0, 0.1);

      transition: all 0.25s ease-in-out;

      background-color: #fff;

      @include prop-media("margin-bottom", 576px, 992px, 20px, 40px, 0);

      &:hover {
        border-bottom: 6px solid $main-color;
      }

      &__img {
        @include prop-media-single("height", 576px, auto, 250px);
        @include prop-media("margin-bottom", 576px, 992px, 20px, 40px, 60px);
      }

      &__title {
        margin-bottom: 20px;
      }
    }
  }
}
