* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}
