@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/Red Hat Display/RedHatDisplay-Regular.eot");
  src: url("../fonts/Red Hat Display/RedHatDisplay-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Red Hat Display/RedHatDisplay-Regular.woff2") format("woff2"),
    url("../fonts/Red Hat Display/RedHatDisplay-Regular.woff") format("woff"),
    url("../fonts/Red Hat Display/RedHatDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/Red Hat Display/RedHatDisplay-Medium.eot");
  src: url("../fonts/Red Hat Display/RedHatDisplay-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Red Hat Display/RedHatDisplay-Medium.woff2") format("woff2"),
    url("../fonts/Red Hat Display/RedHatDisplay-Medium.woff") format("woff"),
    url("../fonts/Red Hat Display/RedHatDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Display";
  src: url("../fonts/Red Hat Display/RedHatDisplay-Bold.eot");
  src: url("../fonts/Red Hat Display/RedHatDisplay-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Red Hat Display/RedHatDisplay-Bold.woff2") format("woff2"),
    url("../fonts/Red Hat Display/RedHatDisplay-Bold.woff") format("woff"),
    url("../fonts/Red Hat Display/RedHatDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
