.footer {
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;

    .nav-list,
    .social {
      &__link {
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }

    .social {
      display: flex;
      align-items: center;
    }
  }

  &-block {
    text-align: center;
  }
}
