.footer {
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include prop-media-2("margin-bottom", 992px, 0, 20px);

    @media (max-width: 992px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    .nav-list,
    .social {
      @include prop-media("margin-bottom", 576px, 992px, 0, 20px, 40px);

      @media (max-width: 992px) {
        width: 100%;
      }

      &__item {
        &:not(:last-child) {
          @include prop-media-2("margin-right", 576px, 0, 40px);
        }
      }
    }

    .nav-list {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 768px) {
        flex-wrap: wrap;
      }

      &__item {
        @media (max-width: 576px) {
          width: 100%;

          margin-bottom: 20px;

          text-align: center;
        }
      }
    }

    .social {
      display: flex;
      align-items: center;

      @media (max-width: 992px) {
        justify-content: center;
      }

      &__link {
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }

  &-block {
    text-align: center;

    &__link {
      @include prop-media("margin-bottom", 576px, 992px, 0, 20px, 40px);
    }
  }
}
