.header {
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include prop-media("margin-bottom", 576px, 768px, 20px, 40px, 60px);

    .nav-list {
      display: flex;
      align-items: center;

      transition: left 0.5s ease;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: fixed;
        top: 0;
        left: -100%;
        z-index: 10;

        width: 100%;
        height: 100vh;

        padding: 40px;

        background-color: #333;
      }

      &__item {
        @include prop-media(
          "margin",
          576px,
          992px,
          20px 0,
          0 20px 0 0,
          0 40px 0 0
        );

        @media (max-width: 768px) {
          margin: 0 0 20px 0 !important;
        }
      }

      &__link {
        line-height: 22px;

        @include prop-media-single("font-size", 992px, 14px, 18px);

        @media (max-width: 768px) {
          color: #fff;

          &:hover {
            color: $main-color;
          }
        }
      }

      &__button {
        @include prop-media-single("font-size", 992px, 14px, 18px);

        @media (max-width: 768px) {
          border: 2px solid #fff;

          color: #fff;

          &:hover {
            @include background-set(#fff, $main-color);
          }
        }

        @media (max-width: 992px) {
          box-shadow: none;
        }

        &:hover {
          border: 2px solid $main-color;

          @include background-set($main-color, #fff);
        }
      }

      &__close-button {
        position: absolute;
        top: 30px;
        right: 30px;

        width: 20px;
        height: 20px;

        cursor: pointer;

        @media (min-width: 769px) {
          display: none;
        }
      }

      &--active {
        left: 0;
      }
    }

    .nav-burger {
      @include prop-media-single("display", 768px, block, none);

      width: 25px;

      cursor: pointer;

      &__item {
        display: block;

        width: 100%;
        height: 2px;

        background-color: #000;

        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    .content-info,
    .content-img {
      @extend .w-50;

      &__title,
      &__description {
        @include prop-media-single("margin-bottom", 768px, 20px, 40px);
      }

      &__button {
        &:hover {
          @include background-set($main-color, #fff);
        }
      }
    }

    .content-info {
      max-width: 530px;
    }

    .content-img {
      position: relative;
      right: -120px;
      z-index: -5;

      @extend .hide;

      @media (min-width: 768px) and (max-width: 1200px) {
        position: static;
      }
    }
  }
}
