.header {
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 60px;

    @media (max-width: 576px) {
      margin-bottom: 20px;
    }

    @media (min-width: 576px) and (max-width: 768px) {
      margin-bottom: 40px;
    }

    .nav-list {
      display: flex;
      align-items: center;

      transition: left 0.5s ease;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: fixed;
        top: 0;
        left: -100%;
        z-index: 10;

        width: 100%;
        height: 100vh;

        padding: 40px;

        background-color: #333;
      }

      &__item {
        margin-right: 40px;

        @media (max-width: 768px) {
          margin: 20px 0;
        }

        @media (min-width: 768px) and (max-width: 992px) {
          margin-right: 30px;
        }
      }

      &__link {
        font-size: 18px;
        line-height: 22px;

        @media (max-width: 768px) {
          color: #fff;

          &:hover {
            color: $main-color;
          }
        }

        @media (max-width: 992px) {
          font-size: 14px;
        }
      }

      &__button {
        font-size: 18px;

        @media (max-width: 768px) {
          margin: 20px 0;

          border: 2px solid #fff;

          color: #fff;

          &:hover {
            background-color: #fff;
            color: $main-color;
          }
        }

        @media (max-width: 992px) {
          font-size: 14px;
        }

        &:hover {
          background-color: $main-color;
          color: #fff;
        }
      }

      &__close-button {
        position: absolute;
        top: 40px;
        right: 40px;

        width: 20px;
        height: 20px;

        cursor: pointer;

        @media (min-width: 768px) {
          display: none;
        }
      }

      &--active {
        left: 0;
      }
    }

    .nav-burger {
      display: none;

      width: 25px;

      cursor: pointer;

      @media (max-width: 768px) {
        display: block;
      }

      &__item {
        display: block;

        width: 100%;
        height: 2px;

        background-color: #000;

        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    .content-info,
    .content-img {
      width: 50%;

      @media (max-width: 768px) {
        width: 100%;
      }

      &__title,
      &__description {
        margin-bottom: 40px;

        @media (max-width: 768px) {
          margin-bottom: 20px;
        }
      }

      &__button {
        &:hover {
          background-color: $main-color;
          color: #fff;
        }
      }
    }

    .content-info {
      max-width: 530px;

      @media (max-width: 768px) {
        max-width: auto;
      }
    }

    .content-img {
      position: relative;
      right: -120px;
      z-index: -5;

      @media (max-width: 768px) {
        display: none;
      }

      @media (min-width: 768px) and (max-width: 1200px) {
        position: static;
      }
    }
  }
}
