.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  visibility: hidden;

  transition: all 0.5s ease-in-out;

  background-color: rgba(0, 0, 0, 0.5);

  &--active {
    opacity: 1;
    visibility: visible;

    transition: all 0.5s ease-in-out;
  }

  &-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 530px;
    width: 100%;

    @include prop-media-single("padding", 768px, 20px, 40px);

    text-align: center;

    border-radius: 4px;

    background-color: #fff;

    @media (max-width: 768px) {
      max-width: 90%;
    }

    &__img {
      @include prop-media-single("width", 768px, 90px, 120px);
      @include prop-media-single("height", 768px, 90px, 120px);

      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__description {
      margin: 0;
    }

    &__title,
    &__description {
      color: $text-color;
    }

    &__close-button {
      position: absolute;
      @include prop-media-single("top", 768px, 10px, 30px);
      @include prop-media-single("right", 768px, 10px, 30px);

      width: 45px;
      height: 45px;

      padding: 10px;

      cursor: pointer;
    }
  }
}
