.stats {
  &-wrapper {
    display: flex;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &-map {
    width: 66.6%;

    @media (max-width: 576px) {
      margin-bottom: 20px;
    }

    @media (max-width: 768px) {
      width: 100%;

      margin-bottom: 40px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      width: 50%;
    }
  }

  &-block {
    width: 33.3%;

    padding: 40px;

    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);

    background-color: #fff;

    @media (max-width: 768px) {
      width: 100%;

      padding: 20px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      width: 50%;
    }

    .block-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 40px;

      &__title {
        font-size: 28px;

        @media (max-width: 576px) {
          font-size: 18px;
        }
      }

      .block-elements {
        display: flex;

        position: relative;

        border-radius: 6px;

        box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);

        background-color: #fff;

        &:before {
          content: "";

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          width: 1px;
          height: 14px;

          background-color: #ccc;
        }

        &__arrow {
          padding: 12px 16px;

          transition: all 0.25s ease-in-out;

          &:hover {
            cursor: pointer;

            background-color: #f5f5f5;
          }
        }
      }
    }

    .block-content {
      display: flex;

      overflow: hidden;

      .item-wrapper {
        width: 100%;

        flex-shrink: 0;

        .content-item {
          display: flex;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 40px;
          }

          &__flag {
            width: 45px;
            height: 30px;

            margin-right: 20px;

            border-radius: 4px;

            object-fit: cover;
          }

          &__country {
            font-size: 20px;
            font-weight: 600;

            margin-right: auto;

            color: $additional-color;

            @media (max-width: 576px) {
              font-size: 16px;
            }
          }

          .item__value {
            font-size: 14px;
            font-weight: 600;

            margin-right: 20px;

            color: $additional-color;

            @media (max-width: 576px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
