.stats {
  &-wrapper {
    display: flex;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &-map {
    @include prop-media("width", 768px, 1200px, 100%, 50%, 66.6%);
    @include prop-media("margin-bottom", 576px, 768px, 20px, 40px, 0);
  }

  &-block {
    @include prop-media("width", 768px, 1200px, 100%, 50%, 33.3%);

    box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);

    background-color: #fff;

    .block-wrapper {
      height: 462px;

      @include prop-media-single("margin", 768px, 20px, 40px);

      overflow: hidden;

      .block-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 40px;

        &__title {
          @include prop-media-single("font-size", 576px, 18px, 28px);
        }

        &--hidden {
          display: none;
        }

        .block-elements {
          display: flex;

          position: relative;

          border-radius: 6px;

          box-shadow: 0px 5px 50px rgba(87, 1, 0, 0.1);

          background-color: #fff;

          &__button {
            padding: 12px 16px;

            border: 0;
            border-radius: 0;

            box-shadow: none;

            &:hover {
              background-color: $button-hover;
            }

            &:disabled {
              cursor: not-allowed;

              svg {
                path {
                  stroke: $disabled-color;
                }
              }

              &:hover {
                background-color: transparent;
              }
            }
          }

          &__arrow {
            display: block;
          }

          &:before {
            content: "";

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 1px;
            height: 14px;

            background-color: $disabled-color;
          }
        }
      }

      .block-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        height: 100%;

        transition: transform 0.5s ease;

        .content-item {
          display: flex;
          align-items: center;

          margin-bottom: 40px;

          width: 100%;

          &__flag {
            width: 45px;
            height: 30px;

            margin-right: 20px;

            border-radius: 4px;

            object-fit: cover;
          }

          &__country {
            font-size: 16px;
            font-weight: 600;

            margin-right: auto;

            color: $additional-color;
          }

          .item__value {
            font-size: 14px;
            font-weight: 600;

            margin-right: 20px;

            color: $additional-color;
          }
        }
      }

      .error-boundry {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;

        height: 100%;

        &__img {
          width: 120px;
          height: auto;

          margin-bottom: 20px;
        }

        &__text {
          font-size: 24px;
          font-weight: bold;

          margin-bottom: 0;

          color: $text-color;
        }

        &--hidden {
          display: none;
        }
      }
    }
  }
}
