.subscribe {
  @include prop-media("padding", 576px, 768px, 20px 0, 40px 0, 90px 0);

  &__wrapper {
    position: relative;
  }

  &-block {
    max-width: 790px;

    margin: 0 auto;

    text-align: center;

    &__title {
      @include prop-media("font-size", 576px, 768px, 28px, 42px, 64px);

      color: $green-color;
    }

    &__virus-group {
      @include img-absolute("bottom", "right", -80px, -240px);

      @extend .hide;
    }
  }

  &-form {
    position: relative;

    &__input {
      width: 100%;

      @include prop-media-single("font-size", 768px, 14px, 20px);
      @include prop-media-single(
        "padding",
        768px,
        30px 150px 30px 30px,
        30px 210px 30px 30px
      );

      border: 1px solid transparent;
      border-radius: 58px;

      box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.1);

      transition: border 0.25s ease-in-out;

      @include background-set(#fff, $text-color);

      &:focus::placeholder {
        color: transparent;
      }

      &--invalid {
        border: 1px solid $main-color;

        animation: 0.75s ease-in-out 0s running trambling-animation;

        &::placeholder {
          color: $main-color;
        }
      }
    }

    &__submit {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);

      @include prop-media-single("padding", 768px, 16px 32px, 16px 64px);

      @include background-set($main-color, #fff);

      &:hover {
        @include background-set(transparent, $main-color);
      }
    }
  }
}
