.symptomps {
  overflow: hidden;

  &-header {
    text-align: center;

    &__description {
      max-width: 720px;

      @include prop-media(
        "margin",
        576px,
        992px,
        0 auto 20px auto,
        0 auto 40px auto,
        0 auto 90px auto
      );
    }
  }

  &-content {
    text-align: center;
  }
}
