$main-color: #fa5652;
$main-light-color: lighten($main-color, 25%);

$additional-color: #0c6c44;
$green-color: #0c6c44;

$heading-color: #035755;
$link-color: #00402e;
$text-color: #4b4f51;

$disabled-color: #cccccc;
$button-hover: #f5f5f5;
