doctype html
html
  head
    title Start Template

    meta(charset="utf8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel="stylesheet", href="../css/main.min.css")
  body
    include ./components/header.pug

    include ./components/footer.pug

    script(src="../js/scripts.min.js")