doctype html
html
  head
    title COVID-19 Landing Page

    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel="icon", href="../favicon.png")
    link(rel="stylesheet", href="../css/main.min.css")
  body
    include ./components/header.pug
    main
      include ./components/about.pug
      include ./components/contagion.pug
      include ./components/symptomps.pug
      include ./components/actions.pug
      include ./components/stats.pug
      include ./components/subscribe.pug
    include ./components/footer.pug
    
    include ./components/modal.pug

    script(src="../js/scripts.min.js")