section.symptomps
  .container
    .symptomps-header
      h3.symptomps-header__suptitle Covid-19
      h1.symptomps-header__title Symptomps
      p.symptomps-header__description
        | Corona viruses are a type of virus. There are many different
        | kinds, and some cause disease. A newly identified type has
        | caused a recent outbreak of respiratory.
    .symptomps-content
      img(
        class="symptomps-content__img",
        src="../img/svg/illustrations/symptomps.svg",
        alt="Illustration"
      )